<h1>All Properties</h1>
<% @properties.each do |property| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to property.name, property %>
      </h4>
    </div>
  </div>
<% end %>